extends ./layout/layout
block contant
    .container.mt-5
        if validationErr
            p.alert.alert-danger= validationErr.msg
        table#dtBasicExample.table.table-striped.table-bordered(cellspacing='0' width='100%')
            thead
                tr
                    th.th-sm no
                    th.th-sm Pruduct name
                    th.th-sm Price
                    th.th-sm(col="2") Amount
                    th.th-sm(col="4")  Total
            tbody
                if items
                    each item, index in items
                        tr
                            td= index + 1
                            td= item.name
                            td= item.price + '$'
                            td.p-0.m-0(col=4)
                                form(method="POST").w-100.h-100.p-0.m-0
                                    table.w-100.h-100.p-0.m-0
                                        tr
                                            td
                                                input.form-control.form-control-sm(type="number" value=item.amount name="amount")
                                                input(type="hidden" name='cartId' value=item._id)
                                            td
                                                input.btn.btn-success.btn-sm(type="submit" value="Save" formaction='/cart/save')
                                                input.btn.btn-danger.btn-sm(type="submit" value="Delete" formaction='/cart/delete')
                                                input.btn.btn-teal.btn-sm(type="submit" value="Order" formaction='/cart/order')
                            td= (item.price * item.amount) + '$'
                tr
                    td(colspan=3)
                       h3.text-center.mt-2 All
                    td
                        h3.float-left.text-center.mt-2.ml-5= totalAmoun
                        form.float-right(method="POST")
                            input.ml-auto.btn.btn-teal(type="submit" disabled value="order All" formaction='/cart/ordre-all')
                            input.btn.btn-danger(type="submit" value="Delete All" formaction='/cart/delete-all')
                    td
                        h3.mt-2.text-center= totalCarts + '$'

                
            
