extends ./layout/layout
block contant
  .container.mt-5
      if validnErr
            p.alert.alert-danger= validnErr.msg
      .row
          if product
            .col.col-12.col-md-6
                img.mb-3(src='/' + product.image)
                form(action="/cart" method="POST")
                    input.form-control.form-control-sm(type="number",  name="amount")
                    input(type='hidden' name="name" value=product.name)
                    input(type='hidden' name="price" value=product.price)
                    input(type='hidden' name="productId" value=product._id)
                    input(type='hidden' name="redirectTo" value='/product/' + product._id)
                    input.btn.btn-cyan.btn-sm(type="submit" , value="add to cart")
            .col.col-12.col-md-6
                h3= product.name
                h5= product.price + '$'
                p.lead= product.description
          else 
            .alert.alert-danger there is  no product matches by id  