extends ./layout/layout
block contant
    .container.mt-5
        form.text-center.border.border-light.p-5.mx-auto.w-50(action='/singup' method="POST")
            p.h4.mb-4 Sign up
            input#defaultRegisterFormFirstName.form-control.mb-2(type='text' name="username", placeholder='User name')
            -var usernameErr = validetinErrors.find(err => err.param === 'username')
            if usernameErr
                p.text-danger.text-left= usernameErr.msg
            input#defaultRegisterFormEmail.form-control.mb-4( placeholder='E-mail' name="email")
            -var emailErr = validetinErrors.find(err => err.param === 'email')
            if emailErr
                p.text-danger.text-left= emailErr.msg
            input#defaultRegisterFormPassword.form-control(type='password', name="password" placeholder='Password', aria-describedby='defaultRegisterFormPasswordHelpBlock')
            -var passwordErr = validetinErrors.find(err => err.param === 'password')
            if passwordErr
                p.text-danger.text-left= passwordErr.msg
            small#defaultRegisterFormPasswordHelpBlock.form-text.text-muted.mb-4
                | At least 8 characters and 1 digit
            // Phone number
            input#defaultRegisterPhonePassword.form-control(type='password',  name="confermPassword" placeholder="conferm Password" aria-describedby='defaultRegisterFormPhoneHelpBlock')
            -var confermPasswordErr = validetinErrors.find(err => err.param === 'confermPassword')
            if confermPasswordErr
                p.text-danger.text-left= confermPasswordErr.msg
            small#defaultRegisterFormPhoneHelpBlock.form-text.text-muted.mb-4
                | conferm Password
            
            button.btn.btn-info.my-4.btn-block(type='submit') Sign up

            hr
            if !authErr
                p.lead.alert.alert-danger= authErr
            p
                | By clicking
                em Sign up
                |  you agree to our 
                a(href='/login' ) login
           
